---
Language:        								                Cpp
DisableFormat:									                false
AccessModifierOffset: 							            -2
AlignAfterOpenBracket: 							            Align
AlignConsecutiveAssignments: 					          true
AlignConsecutiveBitFields:   					          true
AlignConsecutiveDeclarations:					          true
AlignConsecutiveMacros:							            true
AlignEscapedNewlines:							              Right
AlignOperands:									                AlignAfterOperator
AlignTrailingComments:							            true
AllowAllArgumentsOnNextLine:					          true
AllowAllConstructorInitializersOnNextLine: 		  true
AllowAllParametersOfDeclarationOnNextLine:		  true
AllowShortBlocksOnASingleLine:					        Empty
AllowShortCaseLabelsOnASingleLine:				      true
AllowShortEnumsOnASingleLine:					          true
AllowShortFunctionsOnASingleLine:				        All
AllowShortIfStatementsOnASingleLine:			      Always
AllowShortLambdasOnASingleLine:					        All
AllowShortLoopsOnASingleLine:					          true
AlwaysBreakAfterDefinitionReturnType:			      None
AlwaysBreakBeforeMultilineStrings:				      false
AlwaysBreakTemplateDeclarations:				        Yes
BinPackArguments:								                true
BinPackParameters:								              true
#BitFieldColonSpacing:							            Both
BreakBeforeBraces: 								              Custom
BraceWrapping:
  AfterCaseLabel:  								              true
  AfterClass:      								              true
  AfterControlStatement: 						            Always
  AfterEnum:       								              false
  AfterFunction:   								              true
  AfterNamespace:  								              true
  AfterObjCDeclaration: 						            false
  AfterStruct:     								              true
  AfterUnion:      								              true
  AfterExternBlock: 							              true
  BeforeCatch:     								              true
  BeforeElse:      								              true
  BeforeLambdaBody:								              true
  BeforeWhile:									                true
  IndentBraces:    								              false
  SplitEmptyFunction: 							            false
  SplitEmptyRecord: 							              false
  SplitEmptyNamespace: 							            false
BreakAfterJavaFieldAnnotations:					        false
BreakBeforeBinaryOperators:						          NonAssignment
#BreakBeforeConceptDeclarations:					      false
BreakBeforeTernaryOperators:					          true
BreakConstructorInitializers:					          AfterColon
BreakInheritanceList:							              AfterColon
BreakStringLiterals:							              true
ColumnLimit:									                  0
CompactNamespaces:								              false
ConstructorInitializerAllOnOneLineOrOnePerLine:	false
ConstructorInitializerIndentWidth:				      2
ContinuationIndentWidth:						            4
Cpp11BracedListStyle:							              false
DeriveLineEnding:								                true
DerivePointerAlignment:							            false
#EmptyLineAfterAccessModifier:					        Never
#EmptyLineBeforeAccessModifier:					        LogicalBlock
FixNamespaceComments:							              true
IncludeBlocks:                                  Regroup
IncludeCategories:
  - Regex:           							              '^<.*'
    Priority:        							              1
# '^".*/.*' will sort all the subdirectory includes just fine.  But I wanted to group (put a plank line between) the groups of subdirectory includes.
# Note that includes with no subdirectories (way at the bottom) come first
  - Regex:           							              '^"A.*/.*'
    Priority:        							              3
  - Regex:           							              '^"B.*/.*'
    Priority:        							              4
  - Regex:           							              '^"C.*/.*'
    Priority:        							              5
  - Regex:           							              '^"D.*/.*'
    Priority:        							              6
  - Regex:           							              '^"E.*/.*'
    Priority:        							              7
  - Regex:           							              '^"F.*/.*'
    Priority:        							              8
  - Regex:           							              '^"G.*/.*'
    Priority:        							              9
  - Regex:           							              '^"H.*/.*'
    Priority:        							              10
  - Regex:           							              '^"I.*/.*'
    Priority:        							              11
  - Regex:           							              '^"J.*/.*'
    Priority:        							              12
  - Regex:           							              '^"K.*/.*'
    Priority:        							              13
  - Regex:           							              '^"L.*/.*'
    Priority:        							              14
  - Regex:           							              '^"M*/.*'
    Priority:        							              15
  - Regex:           							              '^"N*/.*'
    Priority:        							              16
  - Regex:           							              '^"O.*/.*'
    Priority:        							              17
  - Regex:           							              '^"P.*/.*'
    Priority:        							              18
  - Regex:           							              '^"Q.*/.*'
    Priority:        							              19
  - Regex:           							              '^"R.*/.*'
    Priority:        							              20
  - Regex:           							              '^"S.*/.*'
    Priority:        							              21
  - Regex:           							              '^"T.*/.*'
    Priority:        							              22
  - Regex:           							              '^"U.*/.*'
    Priority:        							              23
  - Regex:          							              '^"V.*/.*'
    Priority:        							              24
  - Regex:           							              '^"W.*/.*'
    Priority:        							              25
  - Regex:           							              '^"X.*/.*'
    Priority:        							              26
  - Regex:           							              '^"Y.*/.*'
    Priority:        							              27
  - Regex:           							              '^"Z.*/.*'
    Priority:        							              28
# This one has to come after the above.  The first regular expression that matches determines the include file's group, and this matches everything starting with a quote
  - Regex:           							              '^".*'
    Priority:        							              2
IncludeIsMainRegex:  							              '-'
IncludeIsMainSourceRegex: 						          ''
#IndentAccessModifiers                          false
IndentCaseBlocks:								                true
IndentCaseLabels:								                true
IndentExternBlock:								              Indent
IndentGotoLabels:								                true
IndentPPDirectives:								              AfterHash
#IndentRequires:									              false
IndentWidth:									                  2
IndentWrappedFunctionNames:						          true
InsertTrailingCommas:							              None
KeepEmptyLinesAtTheStartOfBlocks:				        false
MaxEmptyLinesToKeep:							              2
NamespaceIndentation:							              All
ObjCBinPackProtocolList:						            Auto
ObjCBlockIndentWidth:							              2
ObjCBreakBeforeNestedBlockParam:				        false
ObjCSpaceAfterProperty: 						            false
ObjCSpaceBeforeProtocolList: 					          true
PenaltyBreakAssignment: 						            2
PenaltyBreakBeforeFirstCallParameter: 			    19
PenaltyBreakComment: 							              300
PenaltyBreakFirstLessLess: 						          120
PenaltyBreakString: 							              1000
PenaltyBreakTemplateDeclaration: 				        10
PenaltyExcessCharacter: 						            1000000
PenaltyReturnTypeOnItsOwnLine: 					        60
PointerAlignment:								                Middle
ReflowComments:									                true
#ShortNamespaceLines:							              1
SortIncludes:									                  true
#SortJavaStaticImport:							            Before
SortUsingDeclarations:							            true
SpaceAfterCStyleCast:							              true
SpaceAfterLogicalNot:							              false
SpaceAfterTemplateKeyword:						          false
#SpaceAroundPointerQualifiers:					        Both
SpaceBeforeAssignmentOperators:					        true
#SpaceBeforeCaseColon:							            false
SpaceBeforeCpp11BracedList:						          true
SpaceBeforeCtorInitializerColon:				        true
SpaceBeforeInheritanceColon:					          true
SpaceBeforeParens:								              Never
SpaceBeforeRangeBasedForLoopColon:				      true
SpaceBeforeSquareBrackets:						          false
SpaceInEmptyBlock:								              false
SpaceInEmptyParentheses:						            false
SpacesBeforeTrailingComments:					          4
SpacesInAngles:									                false
SpacesInCStyleCastParentheses:					        false
SpacesInConditionalStatement:					          true
SpacesInContainerLiterals:						          true
SpacesInParentheses:							              true
SpacesInSquareBrackets:							            false
Standard:										                    Latest
TabWidth:										                    8
UseCRLF:										                    false
UseTab:											                    Never
...
